<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">  <!-- Seu arquivo CSS personalizado -->
    <title>Atualizar dados dos fornecedores</title>
    <style>
        /* Estilos CSS personalizados */
        .page-title {
            font-size: 2rem;
            font-weight: bold;
            color: #007BFF; /* Cor à sua escolha */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center page-title">Ediatar setores</h1>
    <div class="container">
        <form method="POST" action="{{ url_for('editar_setor', id=setor.id_setor) }}" class="needs-validation" novalidate>
            <div class="row g-3">
                <div class="col-3 col-md-3">
                    <label for="codigo">Código/Sigla:</label>
                    <input type="text" name="codigo" id="codigo" class="form-control" value="{{ setor.codigo }}" required>
                    <div class="invalid-feedback">
                        Este campo é obrigatório.
                    </div>
                </div>
                <div class="col-3 col-md-3">
                    <label for="setor">Setor:</label>
                    <input type="text" name="setor" id="setor" class="form-control" value="{{ setor.setor }}" required>
                    <div class="invalid-feedback">
                        Por favor, insira o nome fantasia.
                    </div>
                </div>
                <div class="col-md-4">
                    <label for="cliente_id">Cliente:</label>
                <select name="cliente_id" id="cliente_id" class="form-control" required>
                    {% for cliente in clientes %}
                        <option value="{{ cliente.id_cliente }}" {% if setor.cliente_id == cliente.id_cliente %}selected{% endif %}>
                            {{ cliente.nome_fantasia }}
                        </option>
                    {% endfor %}
                </select>
                </div>
                <div class="col-7">
                    <label for="chefe">Chefe:</label>
                    <input type="text" name="chefe" id="chefe" class="form-control" value="{{ setor.chefe }}">
                    <div class="invalid-feedback">
                        Por favor, insira o Endereço.
                    </div>
                </div>
                <div class="col-7">
                    <label for="observacao">Observação:</label>
                    <textarea name="observacao" id="observacao" class="form-control">{{ setor.observacao }}</textarea>
                    <div class="invalid-feedback">
                        Por favor, insira o Numero.
                    </div>
                </div>
            </div>
                
                
                <!-- Outros campos -->
                <div class="col-12">
                    <button type="submit" class="btn btn-primary">Atualizar</button>
                </div>
            </div>
        </form>
        
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
