<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">  <!-- Seu arquivo CSS personalizado -->
    <title>Lista de forncedores</title>
    <style>
        /* Estilos CSS personalizados */
        .page-title {
            font-size: 2rem;
            font-weight: bold;
            color: #007BFF; /* Cor à sua escolha */
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center page-title">Lista de Fornecedores</h1>
    <div class="container mt-5">
        <div class="container mt-3">
            <form method="GET" class="mb-3">
                <div class="input-group">
                    <input type="text" class="form-control" name="search" placeholder="Pesquisar por CNPJ, Nome, etc.">
                    <button type="submit" class="btn btn-primary">Pesquisar</button>
                </div>
            </form>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>CNPJ</th>
                    <th>Razão Social</th>
                    <th>Nome Fantasia</th>
                    <th>Endereço</th>
                    <th>Cidade</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>Ação</th>
                    <!-- Adicione mais colunas conforme necessário -->
                </tr>
            </thead>
            <tbody>
                {% for fornecedor in fornecedores %}
                <tr>
                    <td>{{ fornecedor.CNPJ }}</td>
                    <td>{{ fornecedor.Razao_Social }}</td>
                    <td>{{ fornecedor.Nome_Fantasia }}</td>
                    <td>{{ fornecedor.Endereco }}</td>
                    <td>{{ fornecedor.Cidade }}</td>
                    <td>{{ fornecedor.Telefone }}</td>
                    <td>{{ fornecedor.Email }}</td>
                    <td>
                        <a href="{{ url_for('editar_fornecedor', id_fornecedor=fornecedor.id_fornecedor) }}" class="btn btn-primary btn-sm">Editar</a>
                        <form action="{{ url_for('excluir_fornecedor', id_fornecedor=fornecedor.id_fornecedor) }}" method="POST" style="display: inline;">
                            <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                        </form>
                    </td>
                    <!-- Adicione mais colunas conforme necessário -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
