<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">  <!-- Seu arquivo CSS personalizado -->
    <title>Lista de Tipos de Abertura de OS</title>
    <style>
        /* Estilos CSS personalizados */
        .page-title {
            font-size: 2rem;
            font-weight: bold;
            color: #007BFF; /* Cor à sua escolha */
        }
        td {
            font-size: 13px;
          }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center page-title">Lista de Tipos de Abertura de OS</h1>
        
        <div class="container">
            <table class="table">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tipo de OS</th>
                        <th>Observações</th>
            </tr>
        </thead>
        <tbody>
            {% for tipo_os in tipos_os %}
                <tr>
                    <td>{{ tipo_os.id }}</td>
                    <td>{{ tipo_os.tipo_os }}</td>
                    <td>{{ tipo_os.observacoes }}</td>
                </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    <script>
        // Adicione validação personalizada aqui, se necessário
    </script>
</body>
</html>
